<%- include('./partials/header.ejs')%>
    <div class = "error-container">
        <h3 class="error-header"><%= error.status %> Error</h3> 
        <p class="error-info"><%= error.message%></p>
    </div>
<%- include('./partials/footer.ejs')%>
