<%- include('partials/header.ejs') %>
  <div id="particles-js">
    <div class="intro-text">
      <h1 class="intro-title">Coding Corner</h1>
      <p class="intro-description">The <span id="intro-typewriter"></span> Coding Lounge of UNCC</p>
    </div>
  </div>
  <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="/js/index.js"></script>
<%- include('partials/footer.ejs') %>